{% extends '::base.html.twig' %}
{% block page_title %} Новый заказ {% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
    <div class="box box-default">
        <div class="box-header"></div>
        <div class="box-body" style="display: block;">
            <div class="row">
                <div class="col-xs-12">
                    {{ form_start(form) }}
                    <div class="col-xs-12">{{ form_row(form.tariff) }}</div>
                    <div class="col-xs-5">{{ form_row(form.urlPre) }}</div>
                    <div class="col-xs-2"><label>Номер артикула</label><input type="text" class="form-control" disabled placeholder="По результатам поиска" /></div>
                    <div class="col-xs-5">{{ form_row(form.urlPost) }}</div>

                    <div class="col-xs-12">{{ form_row(form.services) }}</div>
                    <div class="col-xs-12">{{ form_row(form.currency) }}</div>
                    <input type="submit" value="Сохранить"
                           class="btn btn-success btn-flat" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>

    <script>
        $('select').select2();
        {#{{ include('@App/Booking/_form.js.twig', {'success': 'sdfsf'}) }}#}
    </script>
{% endblock page_content %}