{% extends 'ApplicationSonataUserBundle:Profile:show.html.twig' %}
    {% block page_title %}Заказаны следующие услуги{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block sonata_profile_content %}

    <section class="content-header"><a class="btn bg-purple btn-flat" id="add_booking" href="{{ path('create_booking') }}">Добавить заказ</a></section>

    <section class="content">
    {% for booking in bookings %}
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title">Заказ #{{ booking.getId() }}</h3>
            </div>
            <div class="box-body">
                <div class="form-group"><b>Тариф: </b>{{ booking.getTariff() }}</div>
                <div class="form-group"><b>Url поиска:</b> {{ booking.getUrlPre() }}XXXXXXX{{ booking.getUrlPost() }}</div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        Каталоги
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Название</th>
                                <th>Url для ссылки</th>
                                <th>Стоимость</th>
                                <th>Действия</th>
                            </tr>
                            </tbody>
                            {% for service in booking.services %}
                                {% set period_cost = booking.getTariff.getPeriod.getCost is defined  ? booking.getTariff.getPeriod.getCost * booking.getCurrency.getRate : 0 %}
                                {% set event_cost = booking.getTariff.getUsingFact.getCost is defined ? booking.getTariff.getUsingFact.getCost : 0 %}
                                {% set for_every_service = booking.getTariff.getForEachService is defined ? booking.getTariff.getForEachService : 0 %}
                                <tr>
                                    <td>{{ service.name }}</td>
                                    <td>{{ owner_url }}/{{ app.getUser().getUserKey() }}/{{ booking.getId() }}/{{ service.slug }}</td>
                                    <td>{{ for_every_service ? service.getCostCoefficient * period_cost + event_cost : "По мере наличия средств" }}</td>
                                    <td style="width: 50px;"><a class="btn btn-default btn-xs btn-flat" title="Удалить" for="detach" service="{{ service.id }}" booking="{{ booking.getId() }}"><i class="fa fa-times"></i></a> </td>
                                </tr>
                                <script>{{ include('@ApplicationSonataUser/Profile/_detach_service_from_booking.js', {service_id: service.id, booking_id: booking.getId()}) }}</script>
                            {% endfor %}
                            <tr>
                                <td>Итого</td>
                                <td></td>
                                <td>
                                    {{ booking.total * booking.getCurrency().getRate()}}
                                </td>
                                <td>{{ booking.getCurrency() }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-success btn-flat pull-right" id="attach_service" for="attach" data-toggle="modal" data-target="#myModal{{ booking.getId() }}">Добавить услугу</a>
                        {{ include('@ApplicationSonataUser/Profile/_services.modal.html.twig', {services: services[booking.getId()], booking_id: booking.getId()}) }}
                    </div>
                </div>

                <a class="btn btn-info btn-flat" id="create_invoice" href="{{ path('update_booking', {id: booking.getId()}) }}">Редактировать заказ</a>
                <a class="btn btn-default btn-flat" id="remove_booking" booking="{{ booking.getId() }}">Удалить заказ</a>
                <script>{{ include('@ApplicationSonataUser/Profile/_remove_booking.js', {booking_id: booking.getId()}) }}</script>
            </div>
        </div>
    {% endfor %}

        <a class="btn bg-purple btn-flat" id="add_booking" href="{{ path('create_booking') }}">Добавить заказ</a>
    </section>

{% endblock %}